<div class="field">
  <%= f.label :name %>:
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :description %>:
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :price %>:
  <%= f.number_field :price %>
</div>

<div class="field">
  <%= f.label :status %>:
  <%= f.select :status, Product.status.options %>
</div>

<div class="field">
  <%= f.label :quantity %>:
  <%= f.number_field :quantity %>
</div>

<div id="uploaded-images">
  <%= render 'layouts/uploaded_images', record: @product %>
</div>

<div class="field">
  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %>
</div>

<div class="action">
  <%= f.submit %>
</div>
