<h3><%= @product.name %></h3>
<% if current_user %>
  <%= render 'layouts/fav_btn', favorable: @product %>
<% end %>
<p>$ <%= @product.price %> pt</p>
<p>Quantity: <%= @product.quantity %></p>
<p>Description: <%= @product.description %></p>
<p>Seller: <%= @product.seller_email %>
<% if current_user %>
  <%= render 'layouts/fav_btn', favorable: @product.seller %>
<% end %>
<p>
  <% if @product.images.attached? %>
    <h3>Product Images</h3>
    <% @product.images.each do |image| %>
      <%= link_to image_tag(image.variant(resize: '100x100')), image %>
    <% end %>
  <% end %>
</p>
</p>
<% if @product.quantity > 0 %>
  <p>
    <%= form_for @line_item, remote: true do |f| %>
      <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    <% end %>
  </p>
<% end %>
