<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="flash-div">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <ul class="hmenu">
        <%= render 'devise/menu/login_menu' %>
        <%= render 'devise/menu/registration_menu' %>
      </ul>
      <p class="cart-text"><%= render 'layouts/cart_text' %></p>
      <%= yield %>
    </div>
  </body>
</html>
